<mat-toolbar>
    <div fxHide.gt-xs>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

    </div>
    <div>
        Liste Departement
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a class="btn btn-sm btn-success text-white pull-right" (click)="addDep()">
                    <i class="fa fa-plus"></i>Add Departement</a>
            </li>

        </ul>
    </div>
</mat-toolbar>
<div class="pricing-header mx-auto">
    <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">libelle </th>

                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor="let item of crudApi.listData  | paginate:{itemsPerPage: 6 ,currentPage: p}">
                    <td>{{item.id}}</td>
                    <td>{{item.libDep}}</td>



                    <td><button class="btn btn-warning" (click)="selectData(item)">
                            Modifier</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger" (click)="removeData(item.id)">
                            Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>