<body>
    <div *ngIf="isLoggedIn">
        <!-- container section start -->
        <section id="container" class="">
            <header class="header bg-info">
                <!-- <div class="toggle-nav">
                    <div class="icon-task-l tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
                            class="icon_menu"></i></div>
                </div> -->

                <!--logo start-->
                <img class="logo" src="assets/menu/img/monatsir-removebg-preview.png">
                <!-- <a href="" class="logo">ST<span class="lite">OCk</span></a> -->
                <!--logo end-->

                <div class="top-nav notification-row" *ngIf="isLoggedIn">
                    <!-- notificatoin dropdown start-->
                    <ul class="nav pull-right top-menu">
                        <!-- inbox notificatoin end -->
                        <!-- alert notification start-->
                        <li id="alert_notificatoin_bar" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                                <i class="icon-bell-l"></i>
                                <span class="badge bg-important">7</span>
                            </a>
                            <ul class="dropdown-menu extended notification">
                                <div class="notify-arrow notify-arrow-blue"></div>
                                <li>
                                    <p class="blue">You have 4 new notifications</p>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-primary"><i class="icon_profile"></i></span>
                                        Friend Request
                                        <span class="small italic pull-right">5 mins</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-warning"><i class="icon_pin"></i></span>
                                        John location.
                                        <span class="small italic pull-right">50 mins</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-danger"><i class="icon_book_alt"></i></span>
                                        Project 3 Completed.
                                        <span class="small italic pull-right">1 hr</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-success"><i class="icon_like"></i></span>
                                        Mick appreciated your work.
                                        <span class="small italic pull-right"> Today</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">See all notifications</a>
                                </li>
                            </ul>
                        </li>
                        <!-- alert notification end-->
                        <!-- user login dropdown start-->
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="profile-ava">
                                    <img alt="" src="assets/menu/img/avatar1_small.jpg">
                                </span>
                                <span class="username">{{name}}</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <div class="log-arrow-up"></div>
                                <li class="eborder-top">
                                    <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
                                </li>

                                <li>
                                    <a href class="nav-link" (click)="logout()">LogOut</a>
                                </li>

                            </ul>
                        </li>
                        <!-- user login dropdown end -->
                    </ul>
                    <!-- notificatoin dropdown end-->
                </div>
            </header>
            <!--header end-->

            <!--sidebar start-->
            <aside>
                <div id="sidebar" class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a class="" href="">
                                <i class="icon_house_alt"></i>
                                - <span>Dashboard</span>
                            </a>
                        </li>
                        <!-- <li class="sub-menu" *ngIf="isLoggedIn">
                            <a href="javascript:;" class="">
                                <i class="menu-icon fa fa-laptop"></i>Communs</a>
                            <ul class="sub">
                                <li class="nav-item" routerLinkActive="active">
                                    <a routerLink="/admin/departements" class="nav-link">
                                        <p>Départements</p>
                                    </a>
                                </li>

                                <li class="nav-item" routerLinkActive="active">
                                    <a routerLink="/admin/employes" class="nav-link">
                                        <p>Employés</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="sub-menu" *ngIf="isLoggedIn">
                            <a href="javascript:;" class="">
                                <i class="menu-icon fa fa-laptop"></i>Reclamations</a>
                            <ul class="sub">
                                <li class="nav-item" routerLinkActive="active">
                                    <a routerLink="/admin/reclamations" class="nav-link">
                                        <p>Reclamations</p>
                                    </a>
                                </li>

                                <li class="nav-item" routerLinkActive="active">
                                    <a routerLink="/admin/infractions" class="nav-link">
                                        <p>Infractions</p>
                                    </a>
                                </li>

                            </ul>
                        </li> -->
                        <li class="active" routerLinkActive="active">
                            <a routerLink="/admin/employes" class="nav-link">
                                <p>Employés</p>
                            </a>
                        </li>
                        <li class="active" routerLinkActive="active">
                            <a routerLink="/admin/departements" class="nav-link">
                                <p>Departements</p>
                            </a>
                        </li>
                        <li class="active" routerLinkActive="active">
                            <a routerLink="/admin/reclamations" class="nav-link">
                                <p>Reclamations</p>
                            </a>
                        </li>
                        <li class="active" routerLinkActive="active">
                            <a routerLink="/admin/infractions" class="nav-link">
                                <p>Infractions</p>
                            </a>
                        </li>

                        <li class="dropdown-menu">
                            <a href="javascript:;" class="">
                                <i class="menu-icon fa fa-laptop"></i>Reclamation</a>
                            <ul class="sub">
                                <li class="nav-item" routerLinkActive="active">
                                    <a routerLink="/admin/reclamations" class="nav-link">
                                        <p>Reclamations</p>
                                    </a>
                                </li>
                                <li class="nav-item" routerLinkActive="active">
                                    <a routerLink="/admin/infractions" class="nav-link">
                                        <p>Infractions</p>
                                    </a>
                                </li>
                                <li class="nav-item" routerLinkActive="active">
                                    <a routerLink="/admin/decisions" class="nav-link">
                                        <p>Décisions</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <!--sidebar end-->

            <!--main content start-->
            <section id="main-content">
                <section class="wrapper">
                    <!--overview start-->
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                                <li><i class="fa fa-laptop"></i>Dashboard</li>
                            </ol>
                        </div>
                    </div>
                    <!--/.col-->

                    <div class="container-fluid">
                        <router-outlet></router-outlet>
                    </div><!-- /.container-fluid -->

                </section>
            </section>
            <!--main content end-->
        </section>
    </div>
</body>