<mat-toolbar color="primary" *ngIf="isLoggedIn">
    <div fxHide.gt-xs *ngIf="isLoggedIn">

    </div>
    <div *ngIf="isLoggedIn || showAdminBoard || showReclamationBoard">
        جدول الشكاوي
    </div>
</mat-toolbar>
<div class="pricing-header mx-auto">
    <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">عدد الشكوى</th>
                    <th scope="col">تاريخ الشكوى </th>
                    <th scope="col">الشاكي</th>
                    <th scope="col">المشتكي به </th>
                    <th scope="col">حالة الشكوى </th>
                    <th>
                        <a class="btn btn-outline-success" routerLink="/admin/reclamation"><i
                                class="fa fa-plus-square"></i>
                            Ajouter</a>
                    </th>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor="let item of crudApi.listData | paginate:{itemsPerPage:6,currentPage:p}">
                    <th class="hidden">{{item.idReclamation}}</th>
                    <td>{{item.numReclamation}}</td>
                    <td>{{item.dateReclamation}}</td>
                    <td>{{item.prenom_nomSourceReclamation}}</td>
                    <td>{{item.prenom_nomSourceDestinataire}}</td>
                    <td><i *ngIf="item.etat==true" class="bi bi-heart-fill text-success"></i></td>
                    <td>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-warning btn btn-outline-dark ml-1" (click)="selectData(item)">
                                    <i class="fa fa-pencil-square-o"></i>
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-danger btn btn-outline-dark ml-1"
                                    (click)="removeData(item.idReclamation)">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </div>
                        </div>

                    </td>


                </tr>
                <pagination-controls (pageChange)="p=$event"></pagination-controls>
            </tbody>
        </table>
    </div>
</div>