<mat-toolbar>
    <div fxHide.gt-xs>

    </div>
    <div>
        Liste Employés
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a class="btn btn-sm btn-success text-white pull-right" (click)="addarticle()">
                    <i class="fa fa-plus"></i>Ajouter </a>
            </li>

        </ul>
    </div>
</mat-toolbar>
<div class="pricing-header mx-auto">
    <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg">
            <thead>
                <tr>
                    <th scope="col">nom</th>
                    <th scope="col">prenom </th>
                    <th scope="col">Email</th>
                    <th scope="col">Date d'Embauche</th>
                    <th scope="col">Departement</th>
                    <th class="text-center" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of crudApi.listData  | paginate:{itemsPerPage: 6 ,currentPage: p}">
                    <td>{{item.nom}}</td>
                    <td>{{item.prenom}}</td>
                    <td>{{item.mail}}</td>
                    <td>{{item.dateEmbauche | date}}</td>
                    <td>{{item.idDep}}</td>


                    <td><button class="btn btn-warning" (click)="selectData(item)">Modifier
                        </button></td>
                    <td><button class="btn btn-danger" (click)="removeData(item.id)">Supprimer
                        </button></td>

                </tr>
            </tbody>
        </table>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>